#navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #500;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 20px from the top */
    //transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/**/
#navbar ul {
    list-style-type: none;
    margin: 20, 0;
    padding: 0;
}

.nav-link {
    color:#DBDBDB;
}

#navbar li:hover {
    background-color:#111;
}

#navbar li {
    padding: 6px 16px 6px 16px;
}



header {
    font-family: "lobster", "monospace";
    text-align: center;
    font-size: 2em;
    color: #6D6D6D;
}

#main-doc {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px;
  padding: 0px 10px;
}

.codehighlight {
    background: #9C9F84;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 3px;
}

@media screen and (max-width: 800px) {
    #navbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    #navbar a {
    }

    #main-doc {
        margin-left: 0px;
    }
}

